<div th:fragment="footer">
<footer>
    <div class="footer">
        <div class="logo" onclick="location.href = '/'">
            <img src="/img/logo.png" alt="">
            <h1>Лаборатория Художника</h1>
        </div>
        <div class="info1">
            <div class="info_city">
                <img src="/img/icons/mesto.png">
                <p class="city">Санкт-Петербург</p>
            </div>
            <div class="info_time">
                <img src="/img/icons/time.png">
                <p class="time">09:00 — 19:30</p>
            </div>
        </div>
        <div class="info2">
            <div class="info_tel">
                <img src="/img/icons/tel.png" alt="">
                <p class="tel">+7 (495) 055-7770</p>
            </div>
            <div class="info_email">
                <img src="/img/icons/email.png" alt="">
                <p class="email">art_lab@mail.ru</p>
            </div>
        </div>
        <div class="social_network">
            <img src="/img/icons/premium-icon-telegram-3670070.png" alt="telegram">
            <img src="/img/icons/premium-icon-whatsapp-4494494.png" alt="whatsApp">
            <img src="/img/icons/premium-icon-vkontakte-4494517.png" alt="vk">
            <img src="/img/icons/premium-icon-instagram-4494488.png" alt="instagram">
        </div>
    </div>
    <p>© 2021 Интернет-магазин “Лаборатория Художника”</p>
</footer>
</div>